* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', Arial, sans-serif;
}

/* Logo and Navigation Menu */

header{
    background-color: #373737;
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    position: fixed;
    height: 50px;
    z-index: 1;
}

#logo-text {
    flex-grow: 1;
    vertical-align: top;
}

#logo-text a {
    color: #FFFFFF;
    font-weight: normal;
    margin: auto;
    padding-left: 1%;
    text-decoration: none;
}
.nav-menu {
    float: right;
}

.nav-menu ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align:top;
    list-style: none;
}

.nav-menu ul li {
    float: left;
}

.nav-menu a {
    float: right;
    color: #FFFFFF;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-menu a:hover {
    background-color: #fff;
    color: #373737;
}

/* Start with Main Body */

main {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.title {
    text-decoration: underline;
}

/* Portrait + Bio */

.welcome {
    grid-column: 2;
    display: flex;
}

#portrait img {
    max-width: 250px;
    grid-row: 1;
}

#bio {
    padding-top: 1%;
    grid-row: 1;
    padding-left: 5%;
}

#bio h1 {
    font-size: 3em;
}

#bio h5 {
    font-size: 1.1em;
    color: #292929;
    font-style: italic;
    font-weight: normal;
}

#bio p {
    padding-top: 1.5%;
    font-size: 1.1em;
}

#social-media-icons {
    padding-top: 1%;
}

#github-icon img {
    max-width: 45px;
}

#linkedin-icon img {
    max-width: 50px;
}

/* Skills */

#skills {
    grid-column: 2;
}

#skills p {
    padding-top: 0.5%;
    font-size: 1.5em;
    line-height: 150%;
}

#skills p strong {
    text-decoration: underline;
}

/* Experience */

#experience {
    grid-column: 2;
}


#experience h3 {
    padding-top: 1%;
    font-size: 1.4em;
}

#experience h4 {
    font-weight: normal;
    font-size: 1.1em;
}

#experience ul {
    padding-left: 5%;
}

/* Projects */

#projects {
    margin-top: 1%;
    grid-column: 2;
}

.project img {
    padding-top: 3%;
}

.project h3 {
    padding-top: 1%;
    font-size: 1.3em;
}

.project a {
    padding-top: .5%;
}

.project p {
    padding-top: .5%;
    position: relative;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .nav-menu {
        display: none;
    }
    main {
        grid-template-columns: none;
        width: auto;
    }
    .welcome {
        flex-direction: column;
        padding-left: 1%;
    }
    #portrait img {
        padding-left: 24%;
    }
    #bio {
        padding-left: 0%;
    }
    #bio h1 {
        padding-left: 20%;
    }
    #bio h5 {
        padding-left: 24%;
    }
    #social-media-icons {
        padding-left: 37%;
    }
    #skills {
        padding-left: 1%;
    }
    #experience {
        padding-left: 1%;
    }
    #projects h1 {
        padding-left: 1%;
    }
    #projects h3 {
        padding-left: 1%;
    }
    #projects a {
        padding-left: 1%;
    }
    #projects p {
        padding-left: 1%;
    }
}