* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', Arial, sans-serif;
}

/* Logo and Navigation Menu */

header{
    background-color: #373737;
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    position: fixed;
    height: 50px;
    z-index: 1;
}

#logo-text {
    flex-grow: 1;
    vertical-align: top;
}

#logo-text a {
    color: #FFFFFF;
    font-weight: normal;
    margin: auto;
    padding-left: 1%;
    text-decoration: none;
}
.nav-menu {
    float: right;
}

.nav-menu ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align:top;
    list-style: none;
}

.nav-menu ul li {
    float: left;
}

.nav-menu a {
    float: right;
    color: #FFFFFF;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-menu a:hover {
    background-color: #fff;
    color: #373737;
}

/* Start with Main Body */

/* Portrait + Bio */

div#welcome {
    position: relative;
    margin: auto;
    padding-top: 60px;
    width: 100%;
    overflow: auto;
}

div#bio {
    margin: auto;
    width: 75%;
    padding-top: 3em;
    padding-left: 5em;
    display: inline-block;
}

div#bio h5 {
    padding-top: 0.25em;
    color: #292929;
    font-size: 1.1em;
    font-weight: normal;
}

div#bio p {
    padding-top: .25em;
    font-size: 1em;
    line-height: 26px;
}

div#social-media-icons img {
    max-width: 64px;
    padding-top: 16px;
    padding-right: 8px;
}

#github-icon img {
    width: 54px;
}

div#portrait {
    padding-left: 10%;
}

div#portrait img {
    float: left;
    width: 75%;
    max-width: 350px;
    max-height: 350px;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .nav-menu {
        display: none;
    }
}